@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerMedium.woff2') format('woff2'),
       url('../fonts/MullerMedium.woff') format('woff');
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerRegular.woff') format('woff2'),
       url('../fonts/MullerRegular.woff') format('woff');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerLight.woff2') format('woff2'),
       url('../fonts/MullerLight.woff') format('woff');
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerBold.woff2') format('woff2'),
       url('../fonts/MullerBold.woff') format('woff');
  font-display: swap;
  font-weight: bold;
  font-style: normal;
}

:root {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}
* {
  margin: 0;
  font-family: 'Muller';
}

body {
  padding-top: 30px;
  background-color: #f1f1f1;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin-right: auto;
  list-style: none;
  padding: 0;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.top-contain {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
}

.logo {
  margin-right: 40px;
}

.logo img {
  width: 260px;
  height: 54px;
  border-radius: 10px;
}

.head-tel {
  font-size: 22px;
  color: #666666;
  font-weight: 600;
}

.lk-ref {
  margin-left: auto;
  padding-left: 25px;
  background-image: url("../img/keyboard_tab.svg");
  background-repeat: no-repeat;
  background-position: left;
  font-size: 16px;
  color: #cc9933;
}

.nav {
  display: flex;
  align-items: center;
  padding: 10px 45px;
  border-radius: 10px;
  background-color: #fff;
}

.nav-list {
  display: inline-flex;
}

.nav-list-item {
  font-size: 16px;
  color: #666666;
}
.nav-list-item +
.nav-list-item {
  margin-left: 45px;
}

.btn {
  padding: 12px 18px;
  color: #cc9933;
  background-color: #fff;
  border: 1px solid #cc9933;
  border-radius: 10px;
}
.header{
  margin-bottom: 70px;
}
.btn-header {
  margin-left: auto;
  padding: 2px 0;
  border-left:  1px solid #E1E1E1;
}

.btn-header .btn:nth-child(1) {
  margin-left: 55px;
  margin-right: 40px;
}

section:not(:nth-last-child(2)){
  margin-bottom: 70px;
}
section:nth-last-child(2){
  margin-bottom: 19px;
}
.headings {
  margin-top: 0;
  margin-bottom: 15px;
  padding-left: 40px;
  font-size: 40px;
  font-weight: normal;
  color: #333333;
}

.flex {
  display: flex;
  flex-direction: row ;
}

.flex > * + * {
  margin-top: 0;
  margin-left: 23px;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 573px;
  height: 540px;
}
.column > * + * {
  margin-top: 23px;
}
.special-offer{
  flex: 1;
  flex-direction: column;
  padding: 35px;
  border-radius: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.column-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  font-size: 1.5em;
}

.offer-url-one {
  background-image: url("../img/22@2x.jpg");
}
.offer-url-two {
  background-image: linear-gradient(to right, #304059, rgba(0,0,0,0)), url("../img/Rectangle\ 14.png");
}.offer-url-three {
  background-image: url("../img/Rectangle\ 16.png");
}
.heading-special-offer {
  width: 65%;
  margin-bottom: 10px;
  margin-top: 0;
  color: #fff;
  font-size: 2.4em;
  font-weight: bolder;
}

.price-special-offer {
  display: block;
  margin-bottom: 40px;
  margin-right: 30px;
  color: rgba(255,255,255,.6);
  font-size: 1.4em;
}

.ref {
  padding-right: 20px;
  background-image: url("../img/next.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.detail-link  {
  display: inline-block;
  font-size: 16px;
  color: #ffcc66;
}

.about-us {
  width: 78%;
}

.text-info {
  margin: 0;
  font-size: 16px;
  color: #000;
  line-height: 2em;
  font-style: normal;
  font-weight: normal;
}

.list-contain {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services-card {
  width: 573px;
  height: 330px;
  padding: 195px 100px 0 40px;
  background-color: #fff;
  border-radius: 1em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
}

.services-card:nth-child(1),
  .services-card:nth-child(2)  {
  margin-bottom: 23px;
}

.url-card1 {
  background-image: url("../img/10@2x.jpg") ;
}
.url-card2 {
  background-image: url("../img/15@2x.jpg") ;
}
.url-card3 {
  background-image: url("../img/12@2x.jpg") ;
}
.url-card4 {
  background-image: url("../img/carlo-d-agnolo-aFxSh_l4fbY-unsplash@2x.jpg") ;
}

.services-card-heading {
  margin-bottom: 10px;
  font-size: 22px;
  color: #CC9933;
}
.cart-posit{
 justify-content: space-between;
}

.benefits-card {
  padding: 40px;
  padding-top: 115px;
  width: 270px;
  height: 275px;
  background-color: #fff;
  border-radius: 1em;
}
.benefits-card:not(:nth-last-child(-n+4)) {
  margin-bottom: 23px;
}

.card-img{
  background-size: 64px 66px;
  background-repeat: no-repeat;
  background-position: center top;
}
.url-benefits-card1{
  background-image: url("../img/bathtub.svg") ;
  background-position: left 40px top 40px;
}
.url-benefits-card2{
  background-image: url("../img/hanger.svg") ;
  background-position: left 40px top 40px;
}
.url-benefits-card3{
  background-image: url("../img/heating.svg") ;
  background-position: left 40px top 40px;
}
.url-benefits-card4{
  background-image: url("../img/hotel-key.svg") ;
  background-position: left 40px top 40px;
}
.url-benefits-card5{
  background-image: url("../img/parking.svg") ;
  background-position: left 40px top 40px;
}
.url-benefits-card6{
  background-image: url("../img/reception.svg") ;
  background-position: left 40px top 40px;
}
.url-benefits-card7{
  background-image: url("../img/security-box.svg") ;
  background-position: left 40px top 40px;
}
.url-benefits-card8{
  background-image: url("../img/swimming-pool.svg") ;
  background-position: left 40px top 40px;
}

.accommodation-card  {
  width: 374px;
  padding-top: 0;
  background-color: #fff;
  border-radius: 1em;
}
.accommodation-card:not(:nth-last-child(-n+3)) {
  margin-bottom: 23px;
}

.info-section-accommodation {
  vertical-align: top;
  margin: 0;
  padding: 36px 45px 56px 45px;
}

.accommodation-img {
 width: 100%;
 border-radius: 1em 1em 0 0;
}

.all-options {
  padding-left: 54px;
  padding-bottom: 27px;
  display: flex;
  align-items: flex-end;
  background-image: url("../img/41@2x.jpg") ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.link-all-options {
  bottom: 50px;
  font-size: 20px;
  color: #fff;
  background-image: url("../img/next-white.svg");
}
.cost-per-night {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 16px;
  color: #333333;
  margin-top: 0;
}
.cost-per-night samp {
  color: #999999;
}
.cost-per-night strong {
  font-size: 22px;
}
.star-group {
  display: block;
  padding-top: 5px;
  float: right;
}
.accommodation-card-info {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 16px;
  color: #333333;
  font-weight: 400;
}
.accommodation-card-country {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 16px;
  color: #999999;
}

.section-form {
  display: flex;
  flex-direction: column;
  padding: 38px 45px 70px;
  background-color: #E9E9E9;
  border-radius: 15px;
}
.section-form > .headings {
  padding-left: 0;
}

.form-tour {
  display: flex;
  justify-content: space-around;
  padding: 31px 28px;
  background-color: #fff;
  border-radius: 15px;
}
.form-tour> *:nth-child(-n + 2) {
  flex: 2;
  min-width: 170px;
  max-width: 170px;
}
.form-tour > *:not(:nth-last-child(1)){
  border-right:  1px solid #E1E1E1;
  padding-right: 20px;
}

.label-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 12px;
  line-height: 12px;
}

.label-form > * {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
}

select {
  border: none;
  appearance: none;
  background: url('../img/Rectangle 2.svg') no-repeat right center;
}

.аrrival-date {
  border: none;
  appearance: none;
}

.number-input {
  max-width: 120px;
  border: none;
  border-bottom: 1px solid #CCCCCC;
}

.form-btn {
  padding: inherit 24px inherit 24px;
}

.сontacts-section {
  display: flex;
  padding: 44px;
  background-color: #fff;
  border-radius: 15px;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 50px;
}

.contacts-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 45px;
}
.contacts-info > *:not(:first-child){
  padding-top: 23px;
}

.contacts-item {
  display: flex;
  justify-content: space-between;
  width: 370px;
  padding-bottom: 23px;
}
.contacts-item {
  border-bottom: 1px solid #C4C4C4;
}

.item-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 230px;
  line-height: 150%;
}
.item-info > * {
 margin: 0;
}

.сontacts-btn {
  max-width: 213px;
  padding: 25px;
  font-weight: bold;
}

.contacts-headings {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
}

.info-special {
  color: #CC9933;
}

.info-spam {
  color: #999999;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  padding: 51px;
  color: #FFFFFF;
  background: #333333;
  border-radius: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 190%;

  background-image: url(../img/Слой\ 1.svg);
  background-repeat: no-repeat;
  background-position: bottom right 18%;
}

.footer-info {
  display: flex;
  max-width: 320px;
  margin-right: 100px;
  flex-direction: column;
  align-items: flex-start;
}

.footer-address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-info-paragfs {
  margin-bottom: 40px;
}

.footer-line-indent {
  margin-bottom: 14px;
}

.footer-logo {
  position: relative;
  float: right;
  bottom: -80px;
  right: 80px;
  height: 228px;
}

.social-imgs {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: 0;
}

.social-link {
  display: flex;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center top;
}
.url-social-trip-advisor {
  background-image: url("../img/Component 25.svg") ;
}
.url-social-twitter {
  background-image: url("../img/twitter.svg") ;
}
.url-social-facebook {
  background-image: url("../img/facebook.svg") ;
}
.url-social-vk {
  background-image: url("../img/social.svg") ;
}
.url-social-instagram {
  background-image: url("../img/instagram.svg") ;
}

.social-imgs-item:not(:last-child) {
  margin-bottom: 20px;
}
