@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerMedium.woff2') format('woff2'),
       url('../fonts/MullerMedium.woff') format('woff');
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerRegular.woff') format('woff2'),
       url('../fonts/MullerRegular.woff') format('woff');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerLight.woff2') format('woff2'),
       url('../fonts/MullerLight.woff') format('woff');
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerBold.woff2') format('woff2'),
       url('../fonts/MullerBold.woff') format('woff');
  font-display: swap;
  font-weight: bold;
  font-style: normal;
}

* {
  font-family: 'Muller';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding-top: 30px;
  background-color: #f1f1f1;
}
a {
  color: inherit;
  text-decoration: none;
}
.container {
  margin: 0 auto;
  width: 1168px;
}
.header {
  margin-bottom: 40px;
}
.top-contain {
  position: relative;
  margin-bottom: 20px;
}
.logo {
  display: inline-block;
  margin-right: 25px;
}
.logo img {
  width: 260px;
  height: 54px;
  border-radius: 10px;
}
.head-tel {
  display: inline-block;
  position: absolute;
  top: 25%;
  font-size: 22px;
  color: #666666;
  font-weight:bold;
}
.lk-ref {
  display: inline-block;
  padding-left: 40px;
  position: absolute;
  right: 0;
  top: 32%;
  background-image: url("/img/keyboard_tab.svg");
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 16px;
  color: #cc9933;
}
.nav {
  position: relative;
  padding-top:25px;
  padding-bottom:25px;
  padding-left: 20px;
  background-color: #fff;
  border-radius: 10px;
}
.nav-list {
  display: inline-block;
  list-style: none;
}
.nav-list-item {
  display: inline-block;
  font-size: 16px;
  color: #333333;
}
.nav-list-item +
.nav-list-item {
  margin-left: 30px;
}
.serch-section {
  position: absolute;
  display: inline-block;
  right: 44px;
  padding: 0;
}
.text-serch {
  display: inline-block;
  width: 300px;
  height: 30px;
  margin-right: 10px;
  font-size: 14px;
  color: #bebebe;
  border: 0;
}
.btn-serch {
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 30px;
  background-color: rgba(0,0,0,0);
  background-image: url("/img/search.svg");
  background-size: contain;
  background-repeat: no-repeat;
  border: 0;
}
.contain-offer {
  display: inline-block;
  vertical-align: top;
}
.quick-booking{
  margin-right: 50px;
  width: 520px;
}
.headings {
  margin-bottom: 25px;
  padding-left: 40px;
  font-size: 40px;
  color: #333333;
}
.quick-booking-list {
  list-style: none;
}
.quick-booking-list li{
  margin-bottom: 25px;
}
.qb-input {
  width: 100%;
  padding-left: 15px;
  padding-top: 25px;
  padding-right: 15px;
  padding-bottom: 25px;
  border: 0;
  border-radius: 10px;
  font-size: 16px;
}
.qb-button {
  margin-right: 25px;
  margin-bottom: 55px;
  padding-left: 30px;
  padding-top: 25px;
  padding-right: 30px;
  padding-bottom: 25px;
  border: 0;
  border-radius: 10px;
  background-color: #cc9933;
  font-size: 16px;
  color: #fff;
}
.info-offer {
  font-size: 16px;
  color: #999999;
}
.info-offer b {
  color: #cc9933;
}
.special-offer-container{
  padding: 40px;
  width: 590px;
  height: 550px;
  border-radius: 20px;
  background-image: url("/img/22@2x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: table;
}
.special-offer-text {
  display: table-cell;
  vertical-align: bottom;
}
.heading-special-offer {
  margin-bottom: 25px;
  color: #fff;
  font-size: 66px;
  font-weight: bolder;
}
.price-special-offer {
  margin-right: 30px;
  color: rgba(255,255,255,.5);
  font-size: 35px;
}
.detail-link  {
  font-size: 16px;
  color: #ffcc66;
  padding-right: 15px;
  background-image: url("/img/next.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}
.contain-text {
  width: 70%;
  padding-left: 40px;
}
.text-info-about-us {
  font-size: 16px;
  color: #666666;
  margin-bottom: 50px;
}

.list-contain {
  padding: 0;
  margin-bottom: 60px;
  list-style: none;
}
.card {
  display: inline-block;
  vertical-align: top;
  border-radius: 20px;
  background-color: #fff;
}
.card-img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
}
.services-card {
  width: 570px;
  height: 330px;
  padding-top: 195px;
  padding-left: 40px;
  padding-right: 100px;
}
.services-card:nth-child(2n+1) {
  margin-right: 24px;
}
.services-card:nth-child(1),
  .services-card:nth-child(2)  {
  margin-bottom: 24px;
}
.url-card1 {
  background-image: url("/img/10@2x.jpg") ;
}
.url-card2 {
  background-image: url("/img/15@2x.jpg") ;
}
.url-card3 {
  background-image: url("/img/12@2x.jpg") ;
}
.url-card4 {
  background-image: url("/img/carlo-d-agnolo-aFxSh_l4fbY-unsplash@2x.jpg") ;
}
.services-card-heading {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 22px;
  color: #cc9933;
  padding-right: 25px;
  background-image: url("/img/next.svg");
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: right;
}
.text-info-card {
  display: inline-block;
  font-size: 16px;
  line-height: 2;
  color: #333333;
}
.benefits-card {
  padding: 40px;
  width: 270px;
  height: 280px;
}
.benefits-card:nth-child(-n+3){
  margin-right: 24px;
}
.benefits-card:nth-child(5),
.benefits-card:nth-child(6),
.benefits-card:nth-child(7) {
  margin-right: 24px;
}
.benefits-card:nth-child(-n+4) {
  margin-bottom: 24px;
}
.benefits-card-logo {
  width: 75px;
  margin-bottom: 15px;
}
.accommodation-card {
  width: 368px;
  height: 440px;
  padding: 40px;
  padding-top: 245px;
  margin-bottom: 24px;
  margin-right: 24px;
}
.accommodation-card:nth-child(3n){
  margin-right: 0;
}
.url-accommodation-card1 {
  background-image: url("/img/23@2x.jpg") ;
}
.url-accommodation-card2 {
  background-image: url("/img/24@2x.jpg") ;
}
.url-accommodation-card3 {
  background-image: url("/img/26@2x.jpg") ;
}
.url-accommodation-card4 {
  background-image: url("/img/29-2@2x.jpg") ;
}
.url-accommodation-card5 {
  background-image: url("/img/30@2x.jpg") ;
}
.url-accommodation-card6 {
  background-image: url("/img/31@2x.jpg") ;
}
.url-accommodation-card7 {
  background-image: url("/img/27@2x.jpg") ;
}
.url-accommodation-card8 {
  background-image: url("/img/29@2x.jpg") ;
}
.cost-per-night {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 16px;
  color: #333333;
}
.cost-per-night samp {
  color: #999999;
}
.cost-per-night strong {
  font-size: 22px;
}
.star-group {
  display: block;
  padding-top: 5px;
  float: right;
}
.accommodation-card-info {
  margin-bottom: 10px;
  font-size: 16px;
  color: #333333;
}
.accommodation-card-country {
  margin-bottom: 20px;
  font-size: 16px;
  color: #999999;
}
.link-rooms {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  color: #cc9933;
  border: 2px solid #cc9933;
  border-radius: 12px;
}
.all-options {
  position: relative;
  background-image: url("/img/41@2x.jpg") ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.link-all-options {
  position: absolute;
  bottom: 50px;
  font-size: 22px;
  color: #fff;
  padding-right: 25px;
  background-image: url("/img/next-white.svg");
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: right;
}
