@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
       url('../fonts/Roboto-Regular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
       url('../fonts/Roboto-Bold.woff') format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

/* */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto';
}

a {
  color: inherit;
  text-decoration: none;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

.container {
  max-width: 1110px;
  padding: 0;
}

.heading {
  font-size: 40px;
  line-height: 100%;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.is-activ {
  display: block;
  left: 0;
  transition: all 0.3s ease 0s;
}

.lock {
  overflow: hidden;
}

/* header */
.header {
  background-color: #3F2AFF;
  color: #fff;
}

.header__container {
  display: flex;
  justify-content: space-between;
  padding: 29px 0 30px;
  font-size: 18px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  font-size: inherit;
}

.nav__item:not(:last-child) {
  margin-right: 57px;
}

.header__burger {
  display: none;
}

.burger-menu {
  position: absolute;
  left: -110%;
  top: 0;
  z-index: 100;
  padding: clamp( 60px, 20vw, 162px)  0 0 clamp( 15px, 10vw, 50px);
  width: clamp( 320px, 10vw, 420px);
  height:  clamp( 500px, 50vw, 768px);
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
  background-color: #2F2C45;
  transition: left 1s;
}

.burger-menu__list {
  display: flex;
  flex-direction: column;
}

.burger-menu__list-link {
  transition-property: border, color ;
  transition-duration: .2s;
  transition-timing-function: ease;
}

.burger-menu__list-item:not(:last-child) {
  margin-bottom:  clamp( 20px, 15vw, 60px);
}

/* hero */
.hero-section {
  background: radial-gradient(44.07% 44.07% at 67.78% 55.93%, #555681 0%, #212133 100%);
  color: #fff;
  font-size: 18px;
}

.hero-section__container {
  padding: 130px 0;
  background-image: url("../img/hero-section.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right;
}

.hero-section__info {
  padding: 0;
}

.hero-section__heading {
  margin: 0 0 30px;
  font-size: 60px;
  line-height: 100%;
}

.hero-section__description {
  margin-bottom: 60px;
  line-height: 150%;
}

.hero-section__link {
  display: inline-block;
  background: #3F2AFF;
  border-radius: 20px;
  padding: 24px 77px;
}

/* advantages */
.advantages-section__container {
  padding: 80px 0;
}

.advantages-section__info {
  padding-left: 190px;
  margin-bottom: 19px;
  background-image: url("../img/Vectary-texture.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left;
}

.advantages-section__heading {
  padding: 0;
  margin-bottom: 16px;
  color: #2E2B44;
}

.advantages-section__description {
  padding: 0;
  max-width: 585px;
  font-size: 16px;
  line-height: 150%;
  color: #666;
}

.advantages-section__item {
  max-width: 350px;
  padding: 16px 0px 11px 110px;
  font-weight: bold;
  font-size: 16px;
  line-height: 120%;
  color: #666;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left;
}

.advantages-section__img-eye {
  background-image: url("../img/eye-circle.svg");
}

.advantages-section__img-fingers {
  background-image: url("../img/fingers.svg");
}

.advantages-section__img-horn {
  background-image: url("../img/horn.svg");
}

.advantages-section__item:not(:last-child) {
  margin-right: 30px;
}

/* instructor */
.instructor-section {
  background-color: #212133;
  color: #fff;
}

.instructor-section__container {
  padding: 74px 0;
}

.instructor-section__heading {
  margin-bottom: 24px;
}

.instructor-section__item {
  max-width: 255px;
}

.instructor-section__item:not(:last-child) {
  margin-right: 30px;
}

.instructor-section__photo {
  border-radius: 25px 25px 0px 0px;
  margin-bottom: 30px;
}

.instructor-section__name {
  margin: 0;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
}

.instructor-section__description {
  margin: 0;
  font-size: 16px;
  line-height: 150%;
  color: #85859B;
}

/*courses*/
.courses-section__container {
  padding: 74px 0 81px;
}

.courses-section__heading {
  color: #212133;
  margin-bottom: 23px;
}

.courses-section__item {
  position: relative;
  max-width: 539px;
  padding: 210px 30px 30px;
  border-radius: 20px;
  background-color: #EDF0F9;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top;
}

.courses-section__item:nth-child(-n+2) {
  margin-bottom: 30px;
}

.courses-img-one {
  background-image: url("../img/6.jpg");
}

.courses-img-two {
  background-image: url("../img/11.jpg");
}

.courses-img-three {
  background-image: url("../img/001.jpg");
}

.courses-img-four {
  background-image: url("../img/002.jpg");
}

.courses-section__times {
  position: absolute;
  padding: 2px 0 2px 27px;
  top: 13px;
  right: 4px;
  color: #fff;
  background-image: url("../img/mdi_access_time.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left;
}

.courses-section__name {
  margin: 0;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  color: #212133;
}

.courses-section__description {
  margin: 0;
  margin-bottom: 32px;
  min-height: 113px;
  font-size: 16px;
  line-height: 150%;
  color: #666666;
}

.courses-section__link {
  display: inline-block;
  padding: 20px 59px;
  border-radius: 20px;
  background-color: #3F2AFF;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

/*footer*/
.footer {
  position: relative;
  background-color: #2E2B44;
}

.footer__container {
  padding: 29px 0 43px;
}

.copyright {
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  color: #2E2B44;
  text-align: center;
}

.footer__list {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.footer__item {
  padding: 0;
  max-width: 24px;
}

.footer__item:not(:last-child) {
  margin-right: 30px;
}

.footer__link {
  display: block;
}

.footer__img-facebook {
  background-image: url("../img/facebook.svg");
}

.footer__img-twitter {
  background-image: url("../img/twitter.svg");
}

.footer__img-instagram {
  background-image: url("../img/instagram.svg");
}

.footer__img-youtube {
  background-image: url("../img/youtube.svg");
}

.footer__icon {
  vertical-align: bottom;
}

.copyright span {
  color: #3F2AFF;
}

@media (min-width: 1058px) and (max-width: 1320px) {
  .container {
    max-width: 85vw;
  }

  .advantages-section__item {
    max-width: 25vw;
  }
}

@media (min-width: 769px) and (max-width: 1048px) {
  .container {
    max-width: 85vw;
  }

  .advantages-section__item {
    max-width: 25vw;
    padding: 95px 0px 0px 0px;
    background-position: left top;
  }

  .advantages-section__info {
    margin-bottom: 30px;
  }

  .instructor-section__item {
    margin: 0;
    max-width: 28vw;
  }

  .instructor-section__item:nth-child(2n+1) {
    margin-right: clamp(30px, 18vw, 150px);
  }

  .instructor-section__item:nth-child(2n) {
    margin-right: 0;
  }

  .instructor-section__item:nth-child(-n+2) {
    margin-bottom: 30px;
  }

  .courses-section__item {
    max-width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .courses-section__link {
    margin-top: auto;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 690px;
    padding: 80px 0 76px;
  }

  .header__container {
    padding: 29px 0 30px;
  }

  .hero-section__container {
    padding: 130px 0 136px;
  }

  .hero-section__heading {
    margin: 0 0 16px;
    font-size: 50px;
  }

  .hero-section__container {
    background-image: url("../img/hero-section-690.png");
    background-position-y: 43%;
  }

  .advantages-section__info {
    margin-bottom: 24px;
    padding-left: 240px;
    background-image: url("../img/Vectary-texture-690.png");
  }

  .advantages-section__item {
    max-width: 210px;
    padding: 91px 0px 0px 0px;
    background-position: left top;
  }

  .instructor-section__container {
    padding: 74px 0 50px;
  }

  .instructor-section__item {
    max-width: 330px;
  }

  .instructor-section__item:nth-child(2n){
    margin-right: 0px;
  }

  .instructor-section__item:nth-child(-n+2) {
    margin-bottom: 22px;
  }

  .courses-section__container {
    padding: 74px 0 79px;
  }

  .courses-section__description {
    margin-bottom: 30px;
  }

  .courses-section__item {
    max-width: 330px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .courses-section__link {
    margin-top: auto;
    padding: 20px 56px;
  }

  .courses-section__times {
    top: 12px;
    right: 11px;
  }

  .courses-img-one {
    background-image: url("../img/6-690.jpg");
  }

  .courses-img-two {
    background-image: url("../img/11-690.jpg");
  }

  .courses-img-three {
    background-image: url("../img/001-690.jpg");
  }

  .courses-img-four {
    background-image: url("../img/002-690.jpg");
  }

  .footer__container {
    padding: 29px 0 43px;
  }
}

@media (min-width: 577px) and (max-width: 760px) {
  .container {
    max-width: 90vw;
  }

  .advantages-section__item {
    max-width: 25vw;
  }

  .courses-section__item {
    max-width: 44vw;
  }

  .instructor-section__item {
    max-width: 42vw;
  }

  .instructor-section__photo {
    max-width: 42vw;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 510px;
  }

  .header__container {
    flex-direction: column;
    align-items: center;
  }

  .header__logo {
    margin-bottom: 32px;
  }

  .hero-section__container {
    padding: 78px 0 136px;
  }

  .hero-section__container {
    background-image: none;
  }

  .advantages-section__item {
    max-width: 150px;
  }

  .advantages-section__info {
    padding-left: 179px;
    background-image: url(../img/Vectary-texture-510.png);
    background-position: left top;
  }

  .advantages-section__container {
    padding: 80px 0 56px;
  }

  .instructor-section__item {
    max-width: 240px;
  }

  .instructor-section__container {
    padding: 74px 0 74px;
  }

  .courses-section__item {
    max-width: 240px;
  }

  .courses-section__times {
    top: 11px;
    right: 13px;
  }

  .courses-img-one {
    background-image: url("../img/6-510.jpg");
  }

  .courses-img-two {
    background-image: url("../img/11-510.jpg");
  }

  .courses-img-three {
    background-image: url("../img/001-510.jpg");
  }

  .courses-img-four {
    background-image: url("../img/002-510.jpg");
  }

  .courses-section__name {
    margin-bottom: 9px;
    font-size: 18px;
    line-height: 130%;
  }

  .courses-section__description {
    margin-bottom: 34px;
  }

  .courses-section__link {
    padding: 20px 48px;
  }
}

@media (min-width: 321px) and (max-width: 570px) {
  .container {
    max-width: 90vw;
  }

   .nav {
    display: none;
  }

  .nav__item:not(:last-child) {
    margin-right: 0em;
  }

  .nav__list {
    flex-wrap: wrap;
    justify-content: center;
  }

  .hero-section__heading {
    font-size: 2em;
  }

  .heading {
    font-size: 2em;
  }

  .advantages-section__info {
    padding-left: 0;
    background-image: none;
  }

  .advantages-section__item:not(:last-child) {
    margin-right: auto;
  }

  .advantages-section__list {
    justify-content: center;
  }

  .advantages-section__item {
    background-position: top;
    text-align: center;
  }

  .instructor-section__item:nth-child(-n+2) {
    margin-bottom: 22px;
  }

  .instructor-section__item {
    max-width: 42vw;
  }

  .instructor-section__item:not(:last-child) {
    margin-right: 0;
  }

  .instructor-section__item:nth-child(2n+1) {
    margin-right: 5vw;
  }

  .instructor-section__photo {
    max-width: 42vw;
  }
}

@media (max-width: 320px) {
  .container {
    max-width: 290px;
  }

  .heading  {
    font-size: 20px;
    line-height: 130%;
  }

  .burger-menu--activ {
    display: flex;
    left: -5%;
  }

  .header__container {
    flex-direction: row;
    align-items: center;
  }

  .header__logo {
    margin-bottom: 0;
  }

  .header__logo-img{
    width: 72px;
    height: 16px;
  }

  .header__container {
    padding: 30px 0;
  }

  .header__burger {
    display: block;
    padding-left: 0;
    position: relative;
    margin-right: 5px;
    width: 20px;
    height: 19px;
    z-index: 200;
    background: none;
    border: none;
  }

  .header__burger span {
    background-color: #fff;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    border-radius: 1px;
    top: 8px;
    transition: all 0.3s ease 0s;
  }

  .header__burger::before,
  .header__burger::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 1px;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }

  .header__burger.active:before {
    transform: rotate(45deg);
    top: 7px;
  }

  .header__burger.active:after {
    bottom: 10px;
    transform: rotate(-45deg);
  }

  .header__burger.active span {
    transform: scale(0);
  }

  .nav__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .nav__item:not(:last-child){
    margin-bottom: 50px;
  }

  .hero-section__container {
    padding: 51px 0 50px;
  }

  .hero-section__heading {
    font-size: 30px;
    margin-bottom: 4px;
  }

  .hero-section__description {
    font-size: 16px;
    line-height: 130%;
    margin-bottom: 46px;
  }

  .hero-section__link {
    font-size: 16px;
    line-height: 19px;
    padding: 20px 55px;
  }

  .advantages-section__item {
    max-width: none;
  }

  .advantages-section__info {
    padding-left: 0;
    background-image: none;
  }

  .advantages-section__container {
    padding: 50px 0 51px;
  }

  .advantages-section__heading {
    margin-bottom: 2px;
  }

  .advantages-section__item {
    padding:  1px 0px 1px 110px;
    background-position: left;
  }

  .advantages-section__item:not(:last-child) {
    margin: 0 0 31px;
  }

  .instructor-section__container {
    padding: 44px 0 49px;
  }

  .instructor-section__item {
    max-width: none;
  }

  .instructor-section__item:not(:last-child) {
    margin-right: 0;
  }

  .instructor-section__item:not(:last-child) {
    margin-bottom: 22px;
  }

  .courses-section__heading {
    margin-bottom: 24px;
  }

  .courses-section__container {
    padding: 43px 0 50px;
  }

  .courses-section__item {
    max-width: none;
    min-height: 653px;
  }

  .courses-img-one {
    background-image: url("../img/6-290.jpg");
  }

  .courses-img-two {
    background-image: url("../img/11-290.jpg");
  }

  .courses-img-three {
    background-image: url("../img/001-290.jpg");
  }

  .courses-img-four {
    background-image: url("../img/002-290.jpg");
  }

  .courses-section__link {
    padding: 20px 56px;
  }

  .courses-section__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
